body {
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
		"Lucida Sans", Arial, sans-serif;
	margin: 0 auto;
}
nav {
	width: inherit;
	background: rgba(56, 57, 56, 0.564);
	margin: 0 auto;
	border: none;
	text-decoration: none;
	display: block;
	color: #fff;
}
h4 {
	display: inline-block;
	margin: 0 auto;
	font-size: 150%;
}
.nav-center {
	display: block;
	margin: 0 10%;
	max-width: 100%;
}
.nav-links {
	list-style-type: none;
	margin: 0 0 0 50%;
	padding: 0;
	display: inline-block;
	padding: 20px 20px;
	font-size: 22px;
	font-weight: 400;
	text-align: center;
	text-decoration: none;
	border-radius: 10px;
}

li {
	display: inline-block;
}
nav a {
	margin: 0 5%;
	padding: 10px 20px;
	color: #fff;
	font-size: 18px;
	font-weight: 400;
	text-align: center;
	text-decoration: none;
	border-radius: 10px;
}
.container {
	text-align: center;
	font-style: oblique;
	margin: 10% 30% 0;
	padding: 10px 30px;
	border-radius: 20px;
	font-size: 20px;
	color: #fff;
	background-color: rgba(56, 57, 56, 0.564);
}
.color {
	font-style: normal;
	font-size: 30px;
	background-color: rgba(56, 57, 56, 0.964);
}
.btn {
	padding: 10px 15px;
	border: 5px, solid, rgb(232, 229, 229);
	box-shadow: 3px;
	background-color: rgba(56, 57, 56, 0.564);
	color: #fff;
	border-radius: 100%;
	font-size: 20px;
}
